{% extends 'base.html' %}

{% block head %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='execute_query.js')}}"></script>
{% endblock %}

{% block content %}

    <div class="content">
        <div class="leftcolumn">
          <div class="card">
            <h2>Query editor</h2>
            <h5>Executed on: </h5>
            <textarea id="query_editor">Add query here... </textarea>
            <button id=execute type="button" class='btn btn-default'>Execute</button>

          </div>
          <div class="card">
            <h2>Result set</h2>
            <h5>Number of rows: </h5>
            <div id="result_set">

            </div>
          </div>
        </div>
        <div class="rightcolumn">
          <div class="card">
            <h2>Metadata</h2>
            <div>
              <table class="key-value-table ux-light-table">
                <tbody>
                    <tr>
                        <th class="metadata_key">Identifier:</th>
                        <td>https://doi.org/pid/of/query</td>
                    </tr>
                    <tr>
                        <th class="metadata_key">Creator:</th>
                        <td>Filip Kovacevic</td>
                    </tr>
                    <tr>
                        <th class="metadata_key">Title:</th>
                        <td>Judy Chu occurences</td>
                    </tr>
                    <tr>
                        <th class="metadata_key">Publisher:</th>
                        <td>Filip Kovacevic</td>
                    </tr>
                    <tr>
                        <th class="metadata_key">Publication year:</th>
                        <td>2021</td>
                    </tr>
                    <tr>
                        <th class="metadata_key">Resource type:</th>
                        <td>Dataset/RDF data</td>
                    </tr>
                    <tr>
                        <th class="metadata_key">Contributor:</th>
                        <td>Tomasz Miksa</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card">
            <h3>Popular citations</h3>
            <div class="fakeimg">https://doi.org/pid/of/query1</div><br>
            <div class="fakeimg">https://doi.org/pid/of/query2</div><br>
            <div class="fakeimg">https://doi.org/pid/of/query3</div>
          </div>
          <div class="card">
            <h3>Follow Me</h3>
            <p><a href="https://github.com/GreenfishK/DataCitation">https://github.com/GreenfishK/DataCitation</a></p>
          </div>
        </div>
    </div>

{% endblock %}